@import '../../assets/styles/vars.scss';

.hamburger_lines {
  display: none;
  width: 20px;
  height: 14px;
  min-width: 20px;
  min-height: 14px;
  z-index: 2;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 30px;
}

.line {
  height: 2px;
  width: 100%;
  width: 18px;
  border-radius: 10px;
  background: #2a2f37;
  opacity: 0.4;
}

.line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.line2 {
  transition: transform 0.2s ease-in-out;
}

.line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.open_line1 {
  transform: rotate(45deg);
}

.open_line2 {
  transform: scaleY(0);
}

.open_line3 {
  transform: rotate(-45deg);
}

@media screen and (max-width: 894px) {
  .hamburger_lines {
    display: flex;
  }
}

@media screen and (max-width: 480px) {
  .hamburger_lines {
    margin-left: 19px;
  }
}

@media screen and (max-width: 563px) {
  .hamburger_lines {
    margin-left: 0;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
  }
}
