@import '../../../assets/styles/vars.scss';

.header {
  grid-area: header;
  // width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding-right: 16px;
  padding-left: 16px;
  &_wrap {
    // width: 100%;
    width: 1200px;
    padding-right: 16px;
    padding-left: 16px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_logo {
    margin-right: 92px;
    height: 20px;
  }
  &_link {
    display: inline-flex;
    margin-right: 46px;
    height: 36px;
    min-width: 180px;
    align-items: center;
    margin-left: 93px;
    padding-right: 26px;
    padding-left: 26px;
    font-size: 14px;
    background-color: $yellow-color;
    border-radius: 4px;
    color: $black;
    transition: ease-in-out 0.4s;
    &:hover {
      color: $black;
      background-color: rgb(245, 183, 91);
    }
  }
}

.logo {
  display: block;
}

.dark_theme {
  background-color: $dark-light;
}

.toggle {
  display: none;
}

.theme {
  margin-left: 20px;
  min-width: 53px;
  max-width: 53px;
}

@media screen and (max-width: 1200px) {
  .header {
    &_wrap {
      width: 100%;
      padding-right: 24px;
      padding-left: 24px;
    }
    &_link {
      margin-left: 50px;
    }
  }
}

@media screen and (max-width: 894px) {
  .header {
    &_link {
      margin-right: 0;
    }
    &_logo {
      margin-right: 70px;
    }
  }
}

@media screen and (max-width: 864px) {
  .header {
    &_link {
      display: none;
    }
  }
}

@media screen and (max-width: 694px) {
  .header {
    &_logo {
      margin-right: 29px;
    }
  }
}

@media screen and (max-width: 563px) {
  .header {
    &_wrap {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
    }
    &_logo {
      margin-right: 0;
      grid-column-start: 2;
      grid-column-end: 6;
      grid-row-start: 1;
      grid-row-end: 1;
      justify-self: center;
    }
  }
  .theme {
    margin-left: 0;
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: start;
    margin-right: 35px;
  }
}

@media screen and (max-width: 413px) {
  .theme {
    display: none;
  }
}
