@import '../../assets/styles/vars.scss';

.create_ads {
  display: inline-flex;
  height: 36px;
  align-items: center;
  justify-content: center;
  margin-left: 24px;
  width: 180px;
  font-size: 14px;
  background-color: $yellow-color;
  border-radius: 4px;
  color: $black;
  transition: ease-in-out 0.4s;
  &:hover {
    color: $black;
    background-color: rgb(245, 183, 91);
  }
}

.category_menu {
  position: fixed;
  top: 72px;
  right: 0;
  height: 100%;
  width: 0%;
  background-color: #ffffff;
  transition: ease-in-out 0.4s;
  &_wrap {
    margin-top: 32px;
  }
  &_active {
    width: 100%;
  }
}

.category {
  &_list {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-left: 24px;
    margin-top: 32px;
    margin-bottom: 0;
  }
  &_link {
    display: inline;
    width: max-content;
    font-size: 16px;
    font-family: 'Jost-Regular';
    line-height: 24px;
    color: $black;
    margin-top: 24px;
    &_dark {
      color: rgb(240, 240, 240);
    }
  }
  &_link:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 563px) {
  .category_menu {
    top: 56px;
  }
}
