
@font-face {
	font-family: 'Jost-Regular';
	src: url('../fonts/Jost-Regular.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/Jost-Regular.eot#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/Jost-Regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/Jost-Regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/Jost-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
	font-family: 'Jost-Bold';
	src: url('../fonts/Jost-Bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/Jost-Bold.eot#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/Jost-Bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/Jost-Bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/Jost-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
}
