//colors
$main-color: #f2f2f2;
$yellow-color: #ffac28;
$white-color: #ffff;
$blue-color: #3a95ff;
$black: #1d1d1d;
$dark-grey: #424242;
$light-grey: #f2f2f2;
$dark-theme: rgb(26, 30, 35);
$dark-light: rgb(43, 49, 59);
