@import '../../assets/styles/vars.scss';

.user_info {
  &_wrap {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 18px;
    height: 100%;
    cursor: pointer;
    &:hover .hover_menu {
      display: block;
    }
    &:hover .user_info_text {
      color: $blue-color;
    }
    &:hover .user_info_svg {
      stroke: $blue-color;
    }
  }
  &_text {
    font-size: 14px;
    margin: 0;
    margin-left: 6px;
    transition: ease-in-out 0.4s;
  }
  &_svg {
    transition: ease-in-out 0.4s;
    stroke: #2a2f37;
  }
}

.dark_theme {
  stroke: $main-color;
}

.hover_menu {
  display: none;
  position: absolute;
  vertical-align: top;
  top: 55px;
  right: 0px;
  width: 267px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: $white-color;
  &_wrap {
    display: flex;
    padding-top: 24px;
    padding-left: 24px;
  }
  &_avatar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: rgb(202, 201, 201);
    border-radius: 50%;
    font-size: 12px;
    color: $dark-grey;
    font-family: 'Jost-Bold';
  }
  &_user_name {
    margin-left: 16px;
    font-family: 'Jost-Bold';
    font-size: 24px;
  }
  &_link {
    border-top: 1px solid $light-grey;
    padding-top: 24px;
    padding-left: 24px;
    padding-bottom: 24px;
    display: flex;
    transition: ease-in-out 0.4s;
    &:hover {
      background-color: rgb(247, 247, 247);
    }
    &_item {
      min-width: 115px;
      font-size: 14px;
      color: $dark-grey;
      margin-left: 16px;
      &:hover {
        color: $dark-grey;
      }
    }
  }
  &_logout {
    display: flex;
    padding-top: 24px;
    padding-left: 24px;
    padding-bottom: 47px;
    border-top: 1px solid $light-grey;
    color: $dark-grey;
    transition: ease-in-out 0.4s;
    &:hover {
      background-color: rgb(247, 247, 247);
    }
  }
  &_logout_btn {
    margin-left: 16px;
    background-color: transparent;
    border: none;
    font-size: 14px;
  }
}

.mobile_user_info {
  display: none;
  align-items: center;
  position: relative;
  margin-left: 18px;
  height: 100%;
  cursor: pointer;
}

.lock_active {
  display: none;
  color: #2a2f37;
  opacity: 0.4;
  transition: ease-in-out 0.4s;
  &:hover {
    color: $blue-color;
    opacity: 1;
  }
}

.lock_dark {
  color: $main-color;
}

@media screen and (max-width: 894px) {
  .user_info_svg,
  .user_info_text {
    display: none;
  }

  .user_info_wrap {
    display: none;
  }

  .lock_active {
    display: block;
  }
  .burger_menu {
    display: block;
  }
  .mobile_user_info {
    display: flex;
  }
}

@media screen and (max-width: 894px) {
  .hover_menu {
    position: fixed;
    display: block;
    top: 72px;
    right: 0;
    width: 0;
    height: 100%;
    box-shadow: 0 0 0;
    border-radius: 0;
    transition: ease-in-out 0.4s;
    &_link {
      border-top: 1px solid $light-grey;
    }
    &_link_item {
      margin-left: 0;
    }
    &_logout {
      border-top: 1px solid $light-grey;
      padding-bottom: 24px;
      &_btn {
        padding-left: 0;
      }
    }
    &_icon {
      padding-right: 16px;
    }
  }
  .hover_menu_active {
    width: 100%;
  }
}

@media screen and (max-width: 864px) {
  .mobile_user_info {
    margin-left: 70px;
  }
}

@media screen and (max-width: 694px) {
  .mobile_user_info {
    margin-left: 29px;
  }
}

@media screen and (max-width: 563px) {
  .mobile_user_info {
    margin-left: 0;
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: end;
  }
  .hover_menu {
    top: 56px;
  }
}
