@import '../../assets/styles/vars.scss';

.user_info {
  &_wrap {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 18px;
    height: 100%;
    cursor: pointer;
    &:hover .hover_menu {
      display: block;
    }
    &:hover .user_info_text {
      color: $blue-color;
    }
    &:hover .user_info_svg {
      stroke: $blue-color;
    }
  }
  &_text {
    font-size: 14px;
    margin: 0;
    margin-left: 6px;
    transition: ease-in-out 0.4s;
  }
  &_svg {
    transition: ease-in-out 0.4s;
    stroke: #2a2f37;
  }
}

.hover_menu {
  display: block;
  transition: ease-in-out 0.4s;
}

.hover_menu {
  display: none;
  position: absolute;
  vertical-align: top;
  top: 55px;
  right: 0px;
  width: 267px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  &_wrap {
    display: flex;
    padding-top: 24px;
    padding-left: 24px;
  }
  &_avatar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: rgb(202, 201, 201);
    border-radius: 50%;
    font-size: 12px;
    color: $dark-grey;
    font-family: 'Jost-Bold';
  }
  &_user_name {
    margin-left: 16px;
    font-family: 'Jost-Bold';
    font-size: 24px;
  }
  &_link {
    border-top: 1px solid $light-grey;
    padding-top: 24px;
    padding-left: 24px;
    padding-bottom: 24px;
    display: flex;
    transition: ease-in-out 0.4s;
    &:hover {
      background-color: rgb(247, 247, 247);
    }
    &_item {
      font-size: 14px;
      color: $dark-grey;
      margin-left: 16px;
      &:hover {
        color: $dark-grey;
      }
    }
  }
  &_logout {
    display: flex;
    padding-top: 24px;
    padding-left: 24px;
    padding-bottom: 47px;
    border-top: 1px solid $light-grey;
    transition: ease-in-out 0.4s;
    &:hover {
      background-color: rgb(247, 247, 247);
    }
  }
  &_logout_btn {
    margin-left: 16px;
    background-color: transparent;
    border: none;
    font-size: 14px;
  }
}

.mobile_user_info {
  display: none;
  align-items: center;
  position: relative;
  margin-left: 18px;
  height: 100%;
  cursor: pointer;
}

// =================burger_menu================

.hamburger_lines {
  display: block;
  height: 20px;
  width: 27px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 30px;
}

.line {
  display: block;
  height: 2px;
  width: 100%;
  border-radius: 10px;
  background: #2a2f37;
  opacity: 0.4;
}

// ===============burger_menu start===============

.line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.line2 {
  transition: transform 0.2s ease-in-out;
}

.line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

// =================burger_menu animate==============

.open_line1 {
  transform: rotate(45deg);
}

.open_line2 {
  transform: scaleY(0);
}

.open_line3 {
  transform: rotate(-45deg);
}

// ==========================================

.lock_active {
  display: none;
  color: #2a2f37;
  opacity: 0.4;
  transition: ease-in-out 0.4s;
  &:hover ~ .hover_menu {
    display: block;
  }
  &:hover {
    color: $blue-color;
    opacity: 1;
  }
}

@media screen and (max-width: 894px) {
  .user_info_svg,
  .user_info_text {
    display: none;
  }

  .user_info_wrap {
    display: none;
  }

  .lock_active {
    display: block;
  }
  .burger_menu {
    display: block;
  }
  .mobile_user_info {
    display: flex;
  }
}
